@import './../../styles/_colors.scss';

.ResultItem {
    box-sizing: border-box;
    float: left;
    margin: 8px;
    padding: 5px;
    border: solid 1px $greyLight;
    transition: all .15s linear;
    overflow-x: hidden;
    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, .6);
    }
    a {
        text-decoration: none;
        transition: all 0.2s linear;
        img {
            width: 100%;
            border: none;
        }
        &:hover {
            color: $active;
            img {
                filter: opacity(50%);
            }
        }
    }
    h3 {
        margin: 0;
        font-size: .9em;
        a {
            color: $black;
        }
    }
    p {
        font-size: .7em;
    }
}