@import './../../styles/_colors.scss';

.Footer {
    width: 100%;
    float: left;
    background: $grey;
    margin-top: 15px;
    > .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 10px;
        position: relative;
        a {
            text-decoration: none;
            color: $white;
        }
        nav.menu {
            padding: 30px 0;
            a {
                display: inline-block;
                font-size: .8em;
                margin: 0 10px;
                transition: all 0.2s linear;
                &:first-child{
                    margin-left: 0;
                }
                &:hover {
                    color: $greyLight;
                }
            }
        }
        nav.copyright {
            position: absolute;
            right: 10px;
            bottom: 30px;
            font-size: .7em;
        }
    }
}